@font-face {
    font-family: "flaticon";
    src: url("./flaticon.ttf?cc4f584163075820d086f6c9da749914") format("truetype"),
url("./flaticon.woff?cc4f584163075820d086f6c9da749914") format("woff"),
url("./flaticon.woff2?cc4f584163075820d086f6c9da749914") format("woff2"),
url("./flaticon.eot?cc4f584163075820d086f6c9da749914#iefix") format("embedded-opentype"),
url("./flaticon.svg?cc4f584163075820d086f6c9da749914#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-calendar-interface-symbol-tool:before {
    content: "\f101";
}
.flaticon-comment:before {
    content: "\f102";
}
.flaticon-compliance:before {
    content: "\f103";
}
.flaticon-dollars-money-bag-with-a-clock:before {
    content: "\f104";
}
.flaticon-down-chevron-1:before {
    content: "\f105";
}
.flaticon-down-chevron:before {
    content: "\f106";
}
.flaticon-favorite:before {
    content: "\f107";
}
.flaticon-insurance:before {
    content: "\f108";
}
.flaticon-left-chevron-1:before {
    content: "\f109";
}
.flaticon-left-chevron:before {
    content: "\f10a";
}
.flaticon-loupe:before {
    content: "\f10b";
}
.flaticon-mail-send:before {
    content: "\f10c";
}
.flaticon-marketing-strategy:before {
    content: "\f10d";
}
.flaticon-medal-of-award:before {
    content: "\f10e";
}
.flaticon-paper-plane:before {
    content: "\f10f";
}
.flaticon-phone-call-1:before {
    content: "\f110";
}
.flaticon-phone-call:before {
    content: "\f111";
}
.flaticon-placeholder:before {
    content: "\f112";
}
.flaticon-right-chevron-1:before {
    content: "\f113";
}
.flaticon-right-chevron:before {
    content: "\f114";
}
.flaticon-right-quotation-mark:before {
    content: "\f115";
}
.flaticon-star:before {
    content: "\f116";
}
.flaticon-strategy-in-a-labyrinth:before {
    content: "\f117";
}
.flaticon-trend:before {
    content: "\f118";
}
.flaticon-up-arrow:before {
    content: "\f119";
}
.flaticon-user:before {
    content: "\f11a";
}
.flaticon-wall-clock:before {
    content: "\f11b";
}
